.nav-menu {
    width: 250px;
    position: fixed;
}
.nav-menu ul {
    list-style: none;

}
.content {
    left:250px;
    position:relative;
    overflow : auto
}

.app-header {
    height: 30px;

}